@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  @apply bg-gray-100
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

@media (width <= 550px) {
  main {
    @apply px-4 !important
  }
  #home_product_container {
    @apply gap-4
  }
}

@media (width <= 450px) {
  #home_product_container {
    @apply grid-cols-[repeat(auto-fill,minmax(140px,1fr))]
  }
}